<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.exoplayer2.ext.gvr.test" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="25" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:functionalTest="false"
        android:handleProfiling="false"
        android:label="Tests for com.google.android.exoplayer2.ext.gvr.test"
        android:targetPackage="com.google.android.exoplayer2.ext.gvr.test" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" /> <!-- Required to read/write the paired viewer's distortion parameters. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- Indicates use of Android's VR-mode, available only on Android N+. -->
    <uses-feature
        android:name="android.software.vr.mode"
        android:required="false" /> <!-- Indicates use of VR features that are available only on Daydream-ready devices. -->
    <uses-feature
        android:name="android.hardware.vr.high_performance"
        android:required="false" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>