<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.player.bingry.bingryplayer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="25" />
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <meta-data
        android:name="android.support.VERSION"
        android:value="25.3.1" />

    <application
        android:name="com.player.bingry.bingryplayer.ui.BingryFamilyApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar" >
        <activity
            android:name="com.player.bingry.bingryplayer.MainActivity"
            android:icon="@drawable/ic_launcher"
            android:label="Bingry Player" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.player.bingry.bingryplayer.provider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name="com.player.bingry.bingryplayer.ui.ContentDetailActivity"
            android:icon="@drawable/ic_launcher"
            android:label="bingry Player"
            android:parentActivityName="com.player.bingry.bingryplayer.MainActivity"
            android:theme="@style/AppThemeDark.FullScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name="com.player.bingry.bingryplayer.ui.NungryExoplayer"
            android:authorities="com.player.bingry.bingryplayer.provider"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:label="@string/application_name"
            android:launchMode="singleTop"
            android:theme="@style/PlayerTheme" >
            <intent-filter>
                <action android:name="com.player.bingry.bingryplayer.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW_LIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>